@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Poppins', sans-serif;
}
sup {
    background-image: linear-gradient(to left, #0014ba, aquamarine, #17e6ff, #88ff17, #b2ff57, orange, red, #ba0000);
    -webkit-background-clip: text;
    color: transparent;
    font-size: medium;
    font-weight: 800
}
body{
    overflow-x: hidden;
}
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #162c3b;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner .rndm{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}

.banner .content{
    position: relative;
    max-width: 750px;
    text-align: center;
}
.banner .content h2{
    color: aquamarine;
    font-size: 50px;
}
.banner .content p{
    color: #fff;
    font-size: 18px;
}
.banner header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #162c3b;
    padding: 40px 50px;
    display: flex;
    text-align: left;
    justify-content: space-between;
    z-index: 10000;
}
.banner header .logo{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0px;
}
.banner header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.banner header nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}
.banner header nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
.banner header nav a:hover {
color: #D3D3D3;
}
.banner header nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}
.banner header nav a:hover::before {
  width: 100%;
}
.about{
    position: relative;
    width: 100%;
    display: flex;
    background: #162c3b;
}
.about .contentBx{
    background: #162c3b;
    padding: 100px;
    width: 50%;
}
.heading{
    color: #fff;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.text{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
.about .imgBx{
    background: url(img1.png);
    width: 50%;
    background-size: cover;
    background-position: center;
}
.services{
    background: #12222d;
    padding: 100px;
    text-align: center;
}
.services .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.services .container .serviceBx{
    position: relative;
    background: #fff;
    width: 340px;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    z-index: 1;
}
.services .container .serviceBx img{
    max-width: 100px;
}
.services .container .serviceBx h2{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
}
.technology{
    background:#3f8ffc;
    width: 100%;
    padding: 100px;
    padding-top:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.technology .contentBx{
    max-width: 800px;
}
.technology .imgBx{
    max-width: 600px;
}
.technology .imgBx img{
    max-width: 100%;
}
.client{
    background: #162c3b;
    padding: 100px;
    text-align: center;
}
.client .imgBx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.client .imgBx img{
    max-width: 200px;
    margin: 20px;
    opacity: 0.25;
    cursor: pointer;
}
.client .imgBx img:hover{
    opacity: 1;
}
.testimonials{
    position: relative;
    padding: 100px;
    background: #12222d;
    text-align: center;
}
.testimonials .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
}
.testimonials .container .contentBx{
    background: #fff;
    padding: 60px 50px;
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    border-radius: 20px;
}
.testimonials .container .contentBx p{
    font-style: italic;
}
.testimonials .container .contentBx h3{
    width: 100%;
    text-align: left;
    font-weight: 700;
    color: #3f8ffc;
    font-size: 200%;
}
.contact{
    padding: 100px;
    background-image: url("file:///C:/Users/abhin/Downloads/Website/Backgrounds/red.jpg");
}
.imgBx2{
    background: url(Backgrounds/bg2.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
}
.redbg {
    background: url(Backgrounds/red.jpg) !important;
    background-size: cover;
    background-position: center;
    color: white;
    clear: both;
}
.form .inputBx{
    margin-bottom: 40px;
}
.form .inputBx input{
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    border-bottom: 2px solid #fff;
}
.form .inputBx input::placeholder{
    color: #fff;
}

.form .inputBx textarea{
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    min-height: 150px;
    border-bottom: 2px solid #fff;
}
.form .inputBx textarea::placeholder{
    color: #fff;
}
.form .inputBx input[type="submit"]{
    width: 150px;
    background: #fff;
    color: #111;
    cursor: pointer;
    font-weight: 400;
    border-radius: 10px;
}
.form .inputBx input[type="submit"]:hover{
    background: #C0C0C0;
}
.footer{
    background: #162c3b;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer ul li{
    list-style: none;
}
.footer ul li a{
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}
.footer ul li a img{
    filter: invert(1);
    max-width: 20px;
}

@media (max-width: 991px){
    .banner{
        padding: 50px;
    }
    .banner header{
        padding: 20px 50px;
    }
    .banner .content h2{
        font-size: 36px;
    }
    .banner .content p{
        font-size: 16px;
    }
    .about{
        flex-direction: column;
    }
    .about .contentBx,
    .about .imgBx{
        width: 100%;
        padding: 50px;
        min-height: 400px;
        text-align: center;
    }
    .services{
        padding: 50px;
    }
    .services .container{
        justify-content: center;
        margin-top: 20px;
    }
    .services .container .serviceBx{
        margin: 20px;
        width: 300px;
        height: 350px;
    }
    .technology{
        padding: 50px;
        padding-top: 300px;
        justify-content: center;
        flex-direction: column;
    }
    .technology .imgBx{
        margin-top: 40px;
        max-width: 250px;
    }
    .client{
        padding: 50px;
    }
    .client .imgBx{
        justify-content: center;
    }
    .testimonials{
        padding: 50px;
    }
    .testimonials .contentBx{
        padding: 60px 40px;
        max-width: 550px;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    .testimonials .contentBx:last-child{
        margin-bottom: 0px;
    }
    .contact{
        padding-top:50px;
        padding-bottom: 50px;
    }
    .footer{
        padding: 20px 50px;
        flex-direction: column-reverse;
        text-align: center;
    }
    .footer ul{
        margin-bottom: 20px;
    }

.FnlT{
  color: white;
  background-color: red;
}



.logo{
  position:absolute;
  object-fit:cover;
}


a:visited{
  text-decoration:none;
  color: white;
  font-family:'Poppins',sans-serif;
}

a :hover{
  text-decoration:none;
  color:green;
  font-family:'Poppins',sans-serif;
}

.testimonials .container .contentBx1{
    background: #fff;
    padding: 60px 50px;
    width: 520px;
    display: flex;
    justify-content: center;
    text-align: left;
    border-radius: 20px;
}
.testimonials .container .contentBx1 p{
    font-style: italic;
}
.testimonials .container .contentBx1 h3{
    width: 100%;
    text-align: left;
    font-weight: 700;
    color: #3f8ffc;
    font-size: 200%;
}

